flask>=2.2.3
flask[async]
flask_cors
requests
openai
dalaipy==2.0.2
urllib3==1.26.6
anthropic
google-generativeai
mistune>=2.0

nltk
spacy
PyMuPDF
python-docx
cohere
gensim
scikit-learn
tiktoken
langchain
bertopic
python-dotenv

rank-bm25
whoosh

langchain-openai
faiss-cpu
langchain-community
pinecone
